@import url('https://fonts.googleapis.com/css2?family=Abel&family=Edu+NSW+ACT+Foundation&family=Open+Sans:wght@300&family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/558/798/original/abstract-earth-tone-simple-memphis-background-vector.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}