@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
    text-align: center;
}


.h1-container-quote {
    margin: 10px;
    font-size: 3em;
    text-align: center;
    font-family: 'Edu TAS Beginner', 'cursive';
}

.home-link {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(210, 169, 115);
    color: black;
}

.home-link:hover {
    box-shadow: 2px 2px 6px rgb(130, 127, 127);
}

.home-link-div {
    margin: 50px;
}

.home-h1 {
    margin-top: 100px;
    font-size: 4em;
    padding: 30px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.home-image {
    width: 500px;
    height: 600px;
    text-align: center;
    border-radius: 50%;
    border: 2em solid white;
}

.home-image-container {
    margin: 30px 0;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column-reverse;
    }
    .home-image {
        height: 400px;
        width: 300px;
    }
    .home-image-container {
        margin: 10px;
    }
    .home-h1 {
        margin-top: 10px;
    }
}