@import url('https://fonts.googleapis.com/css2?family=Abel&family=Edu+NSW+ACT+Foundation&family=Open+Sans:wght@300&family=Raleway&display=swap');

.culture-image {
    height: 500px;
    width: 600px;
    margin: 30px;
    border: 0.5px solid black;
    border-radius: 1em;
}

.jobs-culture-images {
    display: flex;
    justify-content: space-evenly;
}

.culture {
    margin: 20px 10px;
    font-size: 2em;
    font-family: 'Edu NSW ACT Foundation', 'cursive';
}
.culture-paragraph {
    text-align: center;
}
.jobs-heading {
    text-align: center;
    margin: 20px;
}
.jobs-h1 {
    font-family: 'Edu NSW ACT Foundation', 'cursive';
    text-align: center;
    margin: 2em;
}
.jobs-h2 {
    font-family: 'Edu NSW ACT Foundation', 'cursive';
    text-align: center;
}
.all-jobs {
    margin: 30px;
}
.job-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.job-single-link {
    text-decoration: none;
    color: black;
}
.job-single-link:hover {
    color: blue;
    text-decoration: underline;
}
.job-single-url:hover {
    color: blue;
    text-decoration: underline;
}
@media (max-width: 768px) {
    .jobs-culture-images {
        flex-direction: column;
        margin: 20px;
    }
    .culture-image {
        height: 300px;
        width: 400px;
    }
    .culture {
        margin: 20px;
    }
}