@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+SC:wght@300&family=Edu+NSW+ACT+Foundation&family=Open+Sans:wght@300&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+SC:wght@300&family=Dancing+Script&family=Edu+NSW+ACT+Foundation&family=Open+Sans:wght@300&family=Raleway&display=swap');

/* background-image: url("https://img.freepik.com/premium-vector/cute-brown-aesthetic-abstract-minimal-background-perfect-wallpaper-backdrop-postcard-background_565280-444.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: 100% 100%; */

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Dancing Script', 'cursive';
    font-size: 1.2em;
}

.members-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(218, 171, 113);
}
.members-info:hover {
    background-color: rgb(200, 155, 100);
    box-shadow: 6px 10px 12px rgb(91, 71, 45);
}

.profile-image {
    border-radius: 50%;
    border: 1px solid rgb(110, 152, 173);
}

.members-heading {
    color: rgb(93, 64, 27);
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-family: 'Cormorant SC';
}

@media (max-width: 768px) {
    .members-container {
        padding: 30px;
    }
}