.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5em;
    top: 0;
    position: sticky;
    margin: 0;
    padding: 5px;
    background-color: rgb(191, 137, 72);
}
.navbar-links {
    display: flex;
}
.navbar-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.navbar-image:hover {
    box-shadow: 2px 3px 5px rgb(111, 72, 24);
}
.links {
    margin: 10px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: rgb(64, 47, 26);
    border-radius: 10px;
}
.links:hover {
    color: black;
    background-color: rgb(180, 126, 56);
    border: 0.5px solid rgb(64, 47, 26);
    box-shadow: -4px -6px 10px rgb(225, 166, 94);
}