.navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    top: 0;
    position: sticky;
    margin: 0;
    padding: 5px;
    background-color: rgb(191, 137, 72);
}
.links {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: rgb(64, 47, 26);
    border: 0.5px solid rgb(64, 47, 26);
    border-radius: 10px;
}
.links:hover {
    color: black;
    background-color: rgb(234, 169, 85);
}