.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5em;
    top: 0;
    position: sticky;
    margin: 0;
    padding: 5px;
    background-color: rgb(231, 205, 167);
}
.navbar-links {
    display: flex;
}
.navbar-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.navbar-image:hover {
    box-shadow: 2px 3px 5px rgb(111, 72, 24);
}
.links {
    margin: 10px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: rgb(64, 47, 26);
    border-radius: 10px;
}
.links:hover {
    color: black;
    border: 0.5px solid rgb(64, 47, 26);
    box-shadow: 2px 2px 4px black;
}

@media (max-width: 600px) {
    .navbar-links {
        flex-direction: row;
        justify-content: center;
        flex-grow: 2;
    }
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
    .links {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px;
        text-align: center;
    }
    .navbar-image-div {
        text-align: center;
    }
}